@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap");
/* Navar */
.navbar {
  background-color: #e2d4d2; }
  .navbar .ancho-restringido {
    max-width: 850px; }
    .navbar .ancho-restringido .typo-titulo {
      font-family: "Raleway", sans-serif;
      font-weight: 900; }
    .navbar .ancho-restringido .navbar-collapse {
      flex-direction: row-reverse; }
      .navbar .ancho-restringido .navbar-collapse .nav-link {
        transition: .5; }
        .navbar .ancho-restringido .navbar-collapse .nav-link:hover {
          text-decoration: underline; }

.header {
  background-image: url("https://images.unsplash.com/photo-1543422655-ac1c6ca993ed?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }
  .header .titulo-header {
    max-width: 500px;
    backdrop-filter: blur(10px);
    padding: 30px;
    text-align: center; }

.titulos-main {
  text-align: center; }

.productos-destacados {
  display: flex;
  justify-content: space-evenly; }
  .productos-destacados div {
    background-color: #91e5e5;
    width: 200px;
    height: 200px; }
