/* Navar */
.navbar {
    background-color: #e2d4d2;
    .ancho-restringido {
        max-width: 850px;
        .typo-titulo {
            font-family: $typo-titulo;
            font-weight: 900;
        }
        .navbar-collapse{
            flex-direction: row-reverse;
            .nav-link {
                transition: .5;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.header {
    background-image: url("https://images.unsplash.com/photo-1543422655-ac1c6ca993ed?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    .titulo-header {
        max-width: 500px;
        backdrop-filter: blur(10px);
        padding: 30px;
        text-align: center;
    }
}